<head>
    <title>Options</title>
    <script src="/components/angular/angular.min.js"></script>
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/app/css/layout.css">
    <script src="/app/services/retrieve_data.js"></script>
    <style>
        label {
            display: block;
        }

        html, body, div, form, fieldset, legend, label, img, td, th, textarea {
            margin: 0;
            padding: 0;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
        }

        html, body {
            overflow: auto;
        }

        #resetRuleButton {
            color: red;
        }

        textarea {
            resize: none;
        }

        #virtual-body {
            position: fixed;
            top: 30px;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            height: 650px;
            overflow-x: auto;
            overflow-y: auto;
        }

        #message {
            font-size: 20px;
            color: gray;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>

<body ng-app="MaYW" ng-csp>




<div class="container-fluid" ng-controller="OptionController as option">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">
                Options
            </h3>

{{option.domainList}}
            <div class="row">
                <div class="col-md-10">
                    <table class="table">
                        <thead>
                        <tr>
                            <th rowspan="2">Regex that matches domain</th>
                            <th rowspan="2">Replace</th>
                            <th colspan="3">Render</th>

                            <th colspan="3">Inline Render</th>

                            <th>Align</th>
                        </tr>
                        <tr>

                            <th>Switch</th>
                            <th>L</th>
                            <th>R</th>
                            <th>Switch</th>
                            <th>L</th>
                            <th>R</th>
                            <th>Align</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="domain in option.domainList | filter: option.enabledModel">
                            <td>{{domain.regex}}</td>
                            <td>{{domain.if_replace}}</td>
                            <td>{{domain.if_render}}</td>
                            <td>{{domain.r_left}}</td>
                            <td>{{domain.r_right}}</td>
                            <td>{{domain.inline}}</td>
                            <td>{{domain.i_left}}</td>
                            <td>{{domain.i_right}}</td>
                            <td>{{domain.alignment}}</td>
                            <td><button class="btn btn-primary">+</button></td>
                            <td><button class="btn btn-success" type="button" ng-click="option.delRow(domain)">Save the Rules</button></td>
                        </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-responsive table-hover">
                        <thead>
                        <tr>
                            <th rowspan="2">Regex that matches domain</th>
                            <th rowspan="2">Replace</th>
                            <th colspan="3">Render</th>

                            <th colspan="3">Inline Render</th>

                            <th rowspan="2" colspan="3">Align Type</th>
                            <th rowspan="2">Delete</th>
                        </tr>
                        <tr>

                            <th>Switch</th>
                            <th>L</th>
                            <th>R</th>
                            <th>Switch</th>
                            <th>L</th>
                            <th>R</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="domain in option.domainList | filter: option.enabledModel">
                            <td><input value="{{domain.regex}}" class="form-control"></td>
                            <td><input type="checkbox" ng-model="domain.if_replace"></td>
                            <td><input type="checkbox" ng-model="domain.if_render"></td>
                            <td><input value="{{domain.r_left}}" class="form-control"></td>
                            <td><input value="{{domain.r_right}}" class="form-control"></td>
                            <td><input type="checkbox" ng-model="domain.inline"></td>
                            <td><input value="{{domain.i_left}}" class="form-control"></td>
                            <td><input value="{{domain.i_right}}" class="form-control"></td>
                            <td>
                                <div class="form-group"><label class="radio inline"><input type="radio" ng-model="domain.alignment" value="L">L</label></div>
                            </td>
                            <td>
                                <div class="form-group"><label class="radio inline"><input type="radio" ng-model="domain.alignment" value="C">C</label></div>
                            </td>
                            <td>
                                <div class="form-group"><label class="radio inline"><input type="radio" ng-model="domain.alignment" value="R">R</label></div>
                            </td>
                            <td><button class="btn btn-danger" type="button" ng-click="option.delRow(domain)">-</button></td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-2 vwrapper">
                <div class="vcenter">
                    <div class=" vcenter">
                        <button class="btn btn-default" type="button" ng-click="option.addRow()">Add New Row</button>
                        <button class="btn btn-success" type="button" ng-click="option.delRow($event)">Save the Rules</button>
                        <button class="btn btn-danger" type="button" ng-click="option.resetRules()">Reset the Rules</button>

                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Todo: Add grammar check?-->

<script
        src="../chrome/options.js"></script>
</body>