

<table class="table table-condensed">
    <thead>
    <tr>
        <th>Regex</th>
        <th>Replace</th>
        <th>Render</th>
        <th>Inline Render</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="rule in ruleList.rules">
        <td>{{rule.regex}}</td>
        <td><input type="checkbox" ng-model="rule.if_replace" ng-disabled=true></td>
        <td><input type="checkbox" ng-model="rule.if_render" ng-disabled=true></td>
        <td><input type="checkbox" ng-model="rule.inline" ng-disabled=true></td>
        <td><button class="btn btn-xs btn-primary">Edit</button></td>
    </tr>
    </tbody>
</table>